<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FabricacionesMecanicas</title>
</head>
<body class="container-full" style="background-color: #355ca1; height: 100%;">
  <!-- Tarjeta -->
    <div class="card mb-3" style="position: static;">
        <img class="card-img-top" src="./assets/Foto_Inicio.png" style="width: 99vw; height: 50vw; margin-bottom: -30px;">
        <div class="card-img-overlay" id="txtver">
            <h1 class="card-title" id="txtver1" style="@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');">BIENVENIDOS</h1>
            <p class="card-text text-control" id="txtver2" style="font-size: 17px; margin-left: -25px; @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');"><b>Hace más de dos décadas Fabricaciones Mecánicas Ltda. Ingresa<br> a la Industria Metalmecánica con una propuesta innovadora para<br>dar solución a los más diversos requerimientos del mercado.</b></p>
            <button class="btn btn-success btn-lg" style="margin-left: -30px; margin-top: 20px; margin-bottom: 20px; background-color: #6a9e5e;" (click)="navegar2()">VER MÁS</button><br>
            <img src="/assets/eslogan.png" class="img-fluid" style="padding-left: 102px; width: 556px; height: 43px;">
        </div>
    </div>
      <!-- Cotiza -->
      <div class="row">
        <div class="card col-lg-12">
          <img class="card-img-top" src="./assets/Banner.png">
          <div class="card-img-overlay" style="margin-top: 0px; font-size: 2vw;">
            <h5 class="card-title" id="textoseccion1">COTIZA CON NOSOTROS</h5>
            <div class="col-lg-12">
              <p class="card-text text-control" id="textoseccion2">En Fabricaciones Mecánicas Ltda. sus proyectos e ideas son de carácter<br>confidencial, si usted así lo requiere. Resguardamos la seguridad intelectual<br>comercial y formal de nuestros clientes.
                <button style="border-color: #6a9e5e; color: white; position: absolute; margin-top: -40px; background-color: #6a9e5e; margin-left: 399px; padding-left: 60px; padding-right: 60px; padding-top: 15px; padding-bottom: 15px;" (click)="navegar()">cotizar</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    <!-- Servicios -->
    <div class="container-fluid" id="fondos" style="padding-top: 62px; margin-bottom: -20px;">
      <div class="row">
        <div class="col-lg-4"><p style="background-color: #355ca1; height: 5px; margin-top: 18px;"><br></p></div>
      <p class="col-lg-4" style="color: black; text-align: center; font-size: 27px; font-family: 'Michroma', sans-serif;">NUESTROS SERVICIOS</p>
      <div class="col-lg-4"><p style="background-color: #355ca1; height: 5px; margin-top: 18px;"><br></p></div>
    </div>
      <h5 style="margin-left: 100px; font-family: 'Roboto', sans-serif; font-size: 20px; margin-top: 20px;"><b>Nuestras capacidades nos permiten otorgar los más diversos servicios de fabricación, que va desde la fabricación<br>de sofisticados gabinetes de empaquetamiento electrónico a las más robustas y complejas estructuras orientadas<br>a la industria de la Minería.</b></h5>
        <div class="row">
          <div class="col-lg-1"><p style="background-color: #6a9e5e; width: 30px; margin-left: 60px; margin-top: -75px;"><br></p></div>
        <div class="card col-lg-3" style="background-color: #6a9e5e ; color: white;" id="correccion">
            <div class="card-body">
              <h5 class="card-title c" style="background-color: #355ca1; color: white; text-align: center; font-family: 'Michroma', sans-serif; font-size: 18px; margin-left: -30px;">INDUSTRIAL</h5>
              <br>
              <p class="card-text" style="text-align: center; font-family: 'Roboto', sans-serif;  font-size: 20PX;">Robustas y complejas estructuras<br>orientadas a la industria de la<br>Minería.</p>
              <br>
              <br>
            </div>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="/assets/industrial1.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/industrial2.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/industrial3.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/industrial4.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/industrial5.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/industrial6.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/industrial7.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/industrial8.png">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
            </div>
          </div>
          <div class="card col-lg-3" style="background-color: #8f97a2; color: white;" id="correccion">
            <div class="card-body">
              <h5 class="card-title" style="background-color: #355ca1; text-align: center; font-family: 'Michroma', sans-serif; font-size: 18px; margin-left: -30px;">MOBILIARIO URBANO</h5>
              <br>
              <p class="card-text" style="text-align: center; font-family: 'Roboto', sans-serif; font-size: 20PX;">Mobiliario urbano como refugios<br>peatonales, basureros y estructuras<br>complejas.</p>
            </div>
            <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="/assets/mobiliario1.jpg" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/mobiliario2.jpg" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/mobiliario3.jpg" >
                </div>cls
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
            </div>
          </div>
          <div class="card col-lg-3" style="background-color: #355ca1; color: white;" id="correccion">
            <div class="card-body">
              <h5 class="card-title" style="background-color: #6a9e5e; color: white; text-align: center; font-family: 'Michroma', sans-serif; font-size: 18px; margin-left: -30px;">MUEBLES METALICOS</h5>
              <br>
              <p class="card-text" style="text-align: center; font-family: 'Roboto', sans-serif; font-size: 20PX;">Sofisticados gabinetes de<br>empaquetamiento electrónico.</p>
            </div>
            <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="/assets/mueble1.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/mueble2.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/mueble3.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/mueble4.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/mueble5.png" >
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/mueble6.png" >
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
            </div>
          </div>
          <div class="col-lg-1"></div>
          </div>
        </div>
            <!-- Capacidades -->
    <section id="separacion" style="background-color: #6a9e5e;">
      <div class="row">
        <div class="col-lg-5">
      <h1 style="color: white; background-color: #355ca1; width: 750px;  text-align: center; margin-left: -30px; font-family: 'Michroma', sans-serif; font-size: 28px; margin-top: 43px;">NUESTRAS CAPACIDADES</h1>
    </div>
    </div>
    <h5 style="color: white; font-family: 'Roboto', sans-serif; margin-left: 85px; margin-top: 23px;">Contamos con una importante cantidad de modernas máquinas y herramientas, por lo tanto, nuestra relación<br>tamaña/equipamiento nos hace una empresa de alta tecnología en función a las necesidades del mercado.</h5>
      <div class="row">
        <div class="col-lg-1"></div>
      <div class="card col-lg-3" style="border-radius: 0%; margin: 30px; margin-left: 1px;">
          <div class="card-body">
            <img src="./assets/capacidades5.png" class="card-img-top" style="margin-top: -16px; width: 370px; margin-left: -28px;">
            <h5 class="card-title" style="color: #355ca1; font-family: 'Michroma', sans-serif; font-size: 15; margin-bottom: 40px; margin-top: 20px;">ASTRIDA SERIE APH</h5>
            <p class="card-text" style="font-family: 'Roboto', sans-serif;">Astrida Serie APH, ideal tanto para plegar piezas únicas como grandes series.</p>
            <p style="background-color: #355ca1; margin-top: 175px; margin-left: -50px;"><br></p>
          </div>
        </div>
        <div class="card col-lg-3" style="border-radius: 0%; margin: 30px;">
          <div class="card-body">
            <img src="./assets/capacidades6.png" class="card-img-top"  style="margin-top: -16px; width: 370px; margin-left: -28px;">
            <h5 class="card-title" style="color: #355ca1; font-family: 'Michroma', sans-serif; font-size: 15; margin-bottom: 40px; margin-top: 20px;">NUESTRO PERSONAL</h5>
            <p class="card-text" style="font-family: 'Roboto', sans-serif;">Constituye nuestro mayor capital, la capacitación específica en sus diferentes especialidades, como así mismo en áreas de formación general, constituye uno de nuestros mayores orgullos.</p>
            <p style="background-color: #6a9e5e; margin-top: 102px; margin-left: -50px;"><br></p></div>
        </div>
        <div class="card col-lg-3" style="border-radius: 0%; margin: 30px;">
          <div class="card-body">
            <img src="./assets/capacidades2.png" class="card-img-top" style="margin-top: -16px; width: 369px; margin-left: -28px;">
            <h5 class="card-title" style="color: #355ca1; font-family: 'Michroma', sans-serif; font-size: 15; margin-bottom: 40px; margin-top: 20px;">GUILLOTINA SHEM</h5>
            <p class="card-text" style="font-family: 'Roboto', sans-serif; margin-top: 20px;">Son reconocidos por estar bien construidos, ser precisos y rentables, satisfaciendo la demanda del mercado de fabricación pesada y de alta precisión.</p>
            <p style="background-color: #6a9e5e; margin-top: 128px; margin-left: -50px;"><br></p>
          </div>
        </div>
        </div>
      </section>
        <!-- Productos -->
        <app-productos></app-productos>
        <!-- otro banner -->
        <div class="row">
          <div class="card col-lg-12">
            <img class="card-img-top" src="./assets/banner2.png">
            <div class="card-img-overlay" style="margin-top: 0px; font-size: 2vw;">
              <h5 class="card-title" id="textoseccion1">COTIZA TUS REFUGIOS</h5>
              <div class="col-lg-12">
                <p class="card-text text-control" id="textoseccion2">Nuestro stock de refugios peatonales busca satisfacer la demanda de paraderos para<br>diferentes lugares de nuestro país, adaptándose a los requerimientos y necesidades de<br>nuestros clientes, además de contar con los mejores estándares de calidad y servicio.
                  <button style="border-color: #6a9e5e; color: white; position: absolute; margin-top: -40px; background-color: #6a9e5e; margin-left: 399px; padding-left: 60px; padding-right: 60px; padding-top: 15px; padding-bottom: 15px;" (click)="navegar()">cotizar</button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <app-contacto></app-contacto>
</body>
</html>