#btnver{
    position: static;
    top: 30%;
    left: 1%;
}

#txtver{
    position: absolute;
    top: 30%;
    left: 15%;
    color: white;
    font-size: 2vw;
}

#separacion{
    padding: 30px;
    background-image: url('/assets/fondodecapacidades.png');
    background-size: 100%;
}

#correccion{
    padding-bottom: 160px;
    margin: 20px;
    border-radius: 0px;
}

#otraseccion{
    margin-bottom: 0px;
    padding-bottom: 400px;
    text-align: right;
    background-image: url('/assets/Banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

#fondos {
    background-image: url('/assets/fondoservicios.png');
    padding-top: 20px;
    background-size: 1600px;
}

#textoseccion{
    text-align: left;
    padding: 30px;
}

#textoseccion1{
    padding-left: 140px;
    padding-top: 8px;
    color: white;
    font-size: 31px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 2vw;
    font-family: 'Michroma', sans-serif;
}
#textoseccion2{
    padding-top: 10px;
    padding-left: 140px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.21;
    margin-top: 10px;
}

#txtver1{
    font-size: 79px;
    margin-top: 70px;
    margin-left: -30px;
    font-family: 'Michroma', sans-serif;
    font-size: 5vw;
}

#txtver2{
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    line-height: 1.222;
    font-size: 27px;
}
