<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FabricacionesMecanicas</title>
</head>
<body class="container-full" style="background-color: #355ca1; height: 100%;">
  <!-- Tarjeta -->
    <div class="card mb-3">
        <img class="card-img-top" src="./assets/fondo_inicio.jpg" style="width: 99vw; height: 50vw;">
        <div class="card-img-overlay" id="txtver">
            <h1 class="card-title" style="font-family: Roboto;"><b>Bienvenidos</b></h1>
            <small class="card-text text-control">Hace mas de dos decadas Fabricaciones Mecanicas Ltda. ingresa <br>a la industria Metalmecanica con una propuesta innovadora para <br>dar solucion a los mas diversos requerimientos del mercado</small>
            <button class="btn btn-success btn-sm" style="margin-left: 20px;">VER MAS</button>
            <img src="/assets/eslogan.png" class="img-fluid" style="padding-left: 40px;">
        </div>
    </div>
      <!-- Cotiza -->
      <div class="row" >
          <div class="card">
          <img class="card-img-top" src="./assets/Banner.jpg" style="width: 99vw; height: 25vw;">
          <div class="card-img-overlay overflow-auto" style="margin-top: 0px;">
            <p style="background-color: #6a9e5e; margin-top: 30px; margin-left: -50px; height: 30px; width: 200px;">''</p>
            <h5 class="card-title" id="textoseccion1">COTIZA CON NOSOTROS</h5>
            <div class="col-md-10">
              <p class="card-text text-control" id="textoseccion2">En fabricaciones mecanicas Ltda. sus proyectos e ideas son de<br>caracter confidencial, si usted asi lo requiere. Resguardamos la<br>seguridad intelectual,comercial y formal de nuestros clientes.</p>
              <div class="col-md-2">
                <button class="btn btn-success">cotizar</button>
              </div>
            </div>
          </div>
          </div>
          </div>
    <!-- Servicios -->
    <div class="container-fluid" id="fondos">
      <h1 style="color: black; text-align: center;">NUESTROS SERVICIOS</h1>
      <h5 style="margin-left: 100px; ">Nuestras capacidades nos permiten otorgar los mas diversos servicios de fabricacion, que va desde la fabricacion<br>de sofisticados gabinetes de empaquetamiento electronico a las mas robustas y complejas estructuras orientadas<br>a la industria de la mineria</h5>
        <div class="row">
          <div class="col-lg-1"><p style="background-color: #6a9e5e; width: 30px; margin-left: 60px; margin-top: -80px;"><br></p></div>
        <div class="card col-lg-3" style="background-color: #6a9e5e ; color: white;" id="correccion">
            <div class="card-body">
              <h5 class="card-title c" style="background-color: #355ca1; color: white;">INDUSTRIAL</h5>
              <p class="card-text">Robustas y complejas estructuras<br>orientadas a la industria de la<br>mineria</p>
            </div>
            <img src="/assets/remol.jpg" class="card-img-bottom">
          </div>
          <div class="card col-lg-3" style="background-color: #8f97a2; color: white;" id="correccion">
            <div class="card-body">
              <h5 class="card-title" style="background-color: #355ca1;">MOBILIARIO URBANO</h5>
              <p class="card-text">Mobiliario urbano como refugios<br>peatonales, basureros y estructuras<br>complejas</p>
            </div>
            <img src="./assets/paraderos.jpg" class="card-img-bottom">
          </div>
          <div class="card col-lg-3" style="background-color: #355ca1; color: white;" id="correccion">
            <div class="card-body">
              <h5 class="card-title" style="background-color: #6a9e5e; color: white;">MUEBLES METALICOS</h5>
              <p class="card-text">Sofisticados gabinetes de<br>empaquetamientos electronico</p>
            </div>
            <img src="./assets/computadores.jpg" class="card-img-bottom" >
          </div>
          <div class="col-lg-1"></div>
          </div>
        </div>
            <!-- Capacidades -->
    <section id="separacion" style="background-color: #6a9e5e;">
      <div class="row">
        <div class="col-lg-5">
      <h1 style="color: white; background-color: #355ca1; margin-left:-30px; ">NUESTRAS CAPACIDADES</h1>
    </div>
    </div>
    <h5 style="color: white;">Contamos con una importante cantidad de modernas maquinas y herramientas, por lo tanto, nuestra relacion<br>tamaño/equipamiento nos hace una empresa de alta tecnologia en funcion a las necesidades del mercado</h5>
      <div class="row" style="margin-left: 30px;">
        <div class="col-lg-1"></div>
      <div class="card col-lg-3">
          <div class="card-body">
            <img src="./assets/capacidades3.jpg" class="card-img-top">
            <h5 class="card-title" style="color: #355ca1;">PATIO DE MAQUINAS</h5>
            <p class="card-text">Patio que alberga las maquinas de plegado,<br>corte,soldados y mas</p>
            <p style="background-color: #355ca1; margin-top: 150px; margin-left: -50px;"><br></p>
          </div>
        </div>
        <div class="card col-lg-3">
          <div class="card-body">
            <img src="./assets/capacidades2.jpg" class="card-img-top">
            <h5 class="card-title" style="color: #355ca1;">NUESTRO PERSONAL</h5>
            <p class="card-text">Constituye nuestro mayor capital, la capacitacion especifica en sus diferentes<br>especialidades, como asi mismo en areas<br>de formacion general, constituye uno de<br>nuestros mayores orgullos</p>
            <p style="background-color: #6a9e5e; margin-top: 30px; margin-left: -50px;"><br></p></div>
        </div>
        <div class="card col-lg-3">
          <div class="card-body">
            <img src="./assets/capacidades1.jpg" class="card-img-top">
            <h5 class="card-title" style="color: #355ca1;">GUILLOTINA SHEM</h5>
            <p class="card-text">Son reconocidos por estar bien constituidos,<br>ser precisos y rentables, satisfaciendo la<br>demanda del mercado de gabricacion pesada</p>
            <p style="background-color: #6a9e5e; margin-top: 43px; margin-left: -50px;"><br></p>
          </div>
        </div>
        </div>
      </section>
              <!-- Productos -->
        <app-productos></app-productos>
        <app-contacto></app-contacto>
</body>
</html>