<body class="container-full">
  <div class="container-fluid" id="fondos" style="padding-top: 62px; margin-bottom: -20px;">
    <div class="row">
      <h2 style="background-color: #6a9e5e; text-align: center; margin-bottom: 0px; color: white; padding-bottom: 10px;MARGIN-TOP: -62px; padding-top: 10PX; font-family: 'Michroma', sans-serif;">NUESTROS SERVICIOS</h2>
  </div>
    <h5 style="margin-left: 170px; font-family: 'Roboto', sans-serif; font-size: 20px; margin-top: 20px;"><b>Nuestras capacidades nos permiten otorgar los más diversos servicios de fabricación, que va desde la fabricación<br>de sofisticados gabinetes de empaquetamiento electrónico a las más robustas y complejas estructuras orientadas<br>a la industria de la Minería.</b></h5>
      <div class="row">
        <div class="col-lg-1"><p style="background-color: #6a9e5e; width: 30px; margin-left: 130px; margin-top: -75px;"><br></p></div>
      <div class="card col-lg-3" style="background-color: #6a9e5e ; color: white;" id="correccion">
          <div class="card-body">
            <h5 class="card-title c" style="background-color: #355ca1; color: white; text-align: center; font-family: 'Michroma', sans-serif; font-size: 18px; margin-left: -30px;">INDUSTRIAL</h5>
            <br>
            <p class="card-text" style="text-align: center; font-family: 'Roboto', sans-serif; font-size: 20PX;">Robustas y complejas estructuras<br>orientadas a la industria de la<br>Minería.</p>
            <br>
            <br>
          </div>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/assets/industrial1.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/industrial2.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/industrial3.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/industrial4.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/industrial5.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/industrial6.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/industrial7.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/industrial8.png">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <div class="card col-lg-3" style="background-color: #8f97a2; color: white;" id="correccion">
          <div class="card-body">
            <h5 class="card-title" style="background-color: #355ca1; text-align: center; font-family: 'Michroma', sans-serif; font-size: 18px; margin-left: -30px;">MOBILIARIO URBANO</h5>
            <br>
            <p class="card-text" style="text-align: center; font-family: 'Roboto', sans-serif; font-size: 20PX;">Mobiliario urbano como refugios<br>peatonales, basureros y estructuras<br>complejas.</p>
          </div>
          <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/assets/mobiliario1.jpg" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/mobiliario2.jpg" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/mobiliario3.jpg" >
              </div>cls
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <div class="card col-lg-3" style="background-color: #355ca1; color: white;" id="correccion">
          <div class="card-body">
            <h5 class="card-title" style="background-color: #6a9e5e; color: white; text-align: center; font-family: 'Michroma', sans-serif; font-size: 18px; margin-left: -30px;">MUEBLES METALICOS</h5>
            <br>
            <p class="card-text" style="text-align: center; font-family: 'Roboto', sans-serif; font-size: 20PX;">Sofisticados gabinetes de<br>empaquetamiento electrónico.</p>
          </div>
          <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/assets/mueble1.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/mueble2.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/mueble3.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/mueble4.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/mueble5.png" >
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/mueble6.png" >
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <div class="col-lg-1"></div>
        </div>
      <h1 style="background-color: #355ca1; color: white; font-family: 'Michroma', sans-serif; width: 1000px;padding-left: 410px; margin-left: -30px; margin-top: 33px; font-size: 30px;">ALGUNOS PROYECTOS</h1>
<div class="row" style="padding-bottom: 20px; padding-top: 40px; margin-top: 0px;">
<div class="col-lg-3"></div>
<div id="slide" class="carousel slide col-lg-6" data-ride="carousel" style="margin-top: 50px; margin-bottom: 20px;">
    <ol class="carousel-indicators"> 
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img class="d-block w-100" src="./assets/base.png">
        <div class="card-img-overlay"> 
          <h1 class="card-text bg-dark bg-opacity-50" style="font-size: 25px; color: white; margin-top: 400px; margin-left: 0px; font-family: 'Roboto', sans-serif; padding-left: 10px; padding-bottom: 40px; padding-top: 10px;">Base de traslado para motor 4.5<br>TONELADAS</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="./assets/base2.png" alt="Second slide">
        <div class="card-img-overlay">
          <h1 class="card-text bg-dark bg-opacity-50" style="font-size: 25px; color: white; margin-top: 400px; margin-left: 0px; font-family: 'Roboto', sans-serif; padding-left: 10px; padding-bottom: 40px; padding-top: 10px;">Base de trasnlado para motor 4.5<br>TONELADAS</h1>
      </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
</div>
  </div>
</div>
  <app-contacto></app-contacto>
</body>
