<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    <h2 style="background-color: #6a9e5e; text-align: center; margin-bottom: 0px; color: white; padding-bottom: 10px;padding-top: 10px;">NOSOTROS</h2>
    <div id="fondo" style="background-image: url(/assets/fondo_nosotros_recuperado.jpg);">
        <div class="container">
            <div class="row" style="color: white; word-wrap: break-word;">
                <div class="col-xl-12 col-sm-6">
                <h1 class="text-nowrap" id="txtnosotros" style="font-size: 2vw; @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');"><p class="col-xl-1" style="background-color: #6a9e5e;"><br></p>NUESTRA EMPRESA</h1>
                <br>
                <h3 style="font-size: 2vw; @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');" id="txtmision">Hace mas de dos decadas Fabricaciones Mecanicas Ltda. ingresa a la industria metalmecanica con una propuesta<br>innovadora para dar solucion a los mas diversos requerimientos del mercado<br><br>Contamos con el personal capacitado para lograr optimos niveles de calidad en los plazos que nuestros clientes<br>requieren.Nuestra vasta experiencia en las areas de muebles metalicos, mobiliario urbano y proyectos industriales, nos<br>permite entregar soluciones intergrales a nuestros clientes en el desarrollo de sus productos y proyectos. Nuestras<br>instalaciones cuentan con terreni de 4.000 mts2 construidos, lo que le permite a nuestros clientes<br>disponer de una comodidad y espacio necesario para la gestion de sus proyectos, desde su inicio hasta la inspeccion y<br>recepcion de sus productos y proyectos</h3>
                </div>
                <!-- -- -->
                <div class="col-xl-12 col-sm-6">
                <br>
                <br>
                <h1 class="text-nowrap" id="txtnosotros" style="font-size: 2vw; @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');"><p class="col-xl-1" style="background-color: #6a9e5e;"><br></p>NUESTRA MISION</h1>
                <br>
                <h3 style="font-size: 2vw;" id="txtmision">Nuestra mision es ser el socio tecnologico de su empresa para la ejecucion mecanica de sus productos y proyectos,<br>garantizando la adecuada calidad y plazos de entrega de los trabajos, a costos razonables y de acuerdo a requerimientos</h3>
            </div>
            </div>  
        </div>
    </div>
    <app-contacto></app-contacto>
</body>
</html>