<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    <h2 style="background-color: #6a9e5e; text-align: center; margin-bottom: 0px; color: white; padding-bottom: 10px;padding-top: 10px;">NOSOTROS</h2>
    <div id="fondo" style="background-image: url(/assets/Fondonosotros.png);">
        <div class="container">
            <div class="row" style="color: white; word-wrap: break-word;">
                <div class="col-xl-12 col-sm-6">
                <h1 class="text-nowrap" id="txtnosotros"><p class="col-xl-1" style="background-color: #6a9e5e;"><br></p>NUESTRA EMPRESA</h1>
                <br>
                <h3 id="txtmision">Hace más de dos décadas Fabricaciones Mecánicas Ltda. ingresa a la Industria Metalmecánica con una propuesta<br> innovadora para dar solución a los más diversos requerimientos del mercado.<br><br>Contamos con el personal capacitado para lograr óptimos niveles de calidad en los plazos que nuestros clientes<br> requieren. Nuestra vasta experiencia en las áreas de muebles metálicos, mobiliario urbano y proyectos industriales, nos<br>permite entregar soluciones integrales a nuestros clientes en el desarrollo de sus productos y proyectos. Nuestras<br> Instalaciones cuentan con un terreno de 4.000 mts2 y 1.200 mts2 construidos, lo que le permite a nuestros clientes<br>disponer de la comodidad y espacio necesario para la gestión de sus proyectos, desde su inicio hasta la inspección<br>y recepción de sus productos y proyectos.</h3>
                </div>
                <!-- -- -->
                <div class="col-xl-12 col-sm-6">
                <br>
                <br>
                <h1 class="text-nowrap" id="txtnosotros"><p class="col-xl-1" style="background-color: #6a9e5e;"><br></p>NUESTRA MISIÓN</h1>
                <br>
                <h3 id="txtmision">Nuestra misión es ser el socio tecnológico de su empresa para la ejecución mecánica de sus productos y proyectos,<br> garantizando la adecuada calidad y plazos de entrega de los trabajos, a costos razonables y de acuerdo a requerimientos y especificaciones técnicas.</h3>
            </div>
            </div>  
        </div>
    </div>
    <app-contacto></app-contacto>
</body>
</html>