<div style="background-image: url('/assets/fondoservicios.png'); background-size: cover;">
    <div class="row" style="text-align: center;">
            <div class="row">
        <div class="col-lg-4"><p style="background-color: #355ca1; height: 5px; margin-top: 18px; margin-left: 10px;"><br></p></div>
      <p class="col-lg-4" style="color: black; text-align: center; font-size: 27px; font-family: 'Michroma', sans-serif;">PRODUCTOS</p>
      <div class="col-lg-4"><p style="background-color: #355ca1; height: 5px; margin-top: 18px;"><br></p></div>
      <!-- <p style="font-family: 'Roboto', sans-serif;"><b>Contamos con tres tipos diferentes de modelos de refugios peatonales en stock. Lo Barnechea; Nuevo estandar;<br>Las Condes (solicite disponibilidad), ademas nuestra vasta experiencia en las areas de proyectos industriales<br>nos permite entregar soluciones integrales a nuestros cleintes en el desarrollo de sus productos y proyectos</b></p> -->
      <div class="col-xl-1 col-sm-4 col-xs-4"></div>
        <div class="col-xl-2 col-md-6 col-sm-5">
          <div class="card" style="width: 600px; padding-right: 10px; margin-bottom: 20px; background-color: #355ca1; border-radius: 0px; margin-left: -60px;">
            <div class="card-body" style="height: 541px; width: 580px;">
              <h5 class="card-text" style="color: white; font-family: 'Michroma', sans-serif;">REFUGIOS PEATONALES</h5>
              <p style="background-color: #6a9e5e; width: 613px; height: 15px; margin-left: -23px;"><br></p>
              <div class="card">
              <img class="card-img-top" src="/assets/producto2.jpg" alt="Card image cap" style="height: 463px; margin-left: -18px; width: 600px; border-radius: 0%;">
              <div class="card-img-overlay">
                <h5 class="card-title" style="margin-top: 290px; color: white; margin-left: 300px; font-size: 30pt; font-family: 'Michroma', sans-serif;">Desde </h5>
                <p class="card-text bg-dark bg-opacity-50" style="color: white; font-family: 'Roboto', sans-serif; margin-left: 200px; font-size: 50pt; margin-right: -50px; font-family: 'Roboto', sans-serif;">$3.200.000</p>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-sm-4"></div>
      <div class="col-xl-1 col-md-6 col-sm-5">
        <div class="card" style="width: 600px; padding-right: 10px; margin-bottom: 20px; background-color: #355ca1; height: 540px; border-radius: 0px; margin-left: -30px;">
          <div class="card-body">
            <h5 class="card-text" style="color: white; font-family: 'Michroma', sans-serif;">PROYECTOS INDUSTRIALES</h5>
            <p style="background-color: #6a9e5e; width: 613px; height: 15px; margin-left: -23px;"><br></p>
            <div class="card">
            <img class="card-img-top" src="/assets/productos1.png" style="height: 457px; width: 600px; margin-left: -18px; border-radius: 0%;" alt="Card image cap">
            <div class="card-img-overlay">
              <h1 class="card-text bg-dark bg-opacity-50" style="font-family: 'Roboto', sans-serif; font-size: 15px; color: white; margin-top: 273px; margin-left: -33px; text-align: left; font-size: 13pt; width: 350px; padding-bottom: 65px; padding-left: 10px; padding-right: 20px;"><p style="font-size: 22px; font-family: 'Michroma', sans-serif;">ESTANQUES</p>Fabricamos modificaciones de estanques de combustibles para generadores enfocados en la industria minera.</h1>
          </div>
          </div>
        </div>
      </div>
    </div>