<div style="background-image: url('/assets/fondoservicios.jpg');">
    <div class="row" style="text-align: center;">
      <h1 style="font-size: center; background-color: #6a9e5e; width: 99%;">NUESTROS PRODUCTOS</h1>
      <p style="font-family: Roboto;">Contamos con tres tipos diferentes de modelos de refugios peatonales en stock. Lo Barnechea; Nuevo estandar;<br>Las Condes (solicite disponibilidad), ademas nuestra vasta experiencia en las areas de proyectos industriales<br>nos permite entregar soluciones integrales a nuestros cleintes en el desarrollo de sus productos y proyectos</p>
      <div class="col-xl-2 col-sm-4 col-xs-4"></div>
        <div class="col-xl-2 col-md-6 col-sm-5">
          <div class="card" style="width: 18rem; padding-right: 10px; margin-bottom: 20px; background-color: #355ca1">
            <div class="card-body" >
              <h5 class="card-text" style="color: white;">PROYECTOS INDUSTRIALES</h5>
              <p style="background-color: #6a9e5e; width: 300px; height: 15px; margin-left: -23px;"><br></p>
              <div class="card">
              <img class="card-img-top" src="/assets/producto2.png" alt="Card image cap">
              <div class="card-img-overlay">
                <h1 class="card-text" style="font-size: 20px;">3.200</h1>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-4"></div>
      <div class="col-xl-2 col-md-6 col-sm-5">
        <div class="card" style="width: 18rem; padding-right: 10px; margin-bottom: 20px; background-color: #355ca1">
          <div class="card-body">
            <h5 class="card-text" style="color: white;">PROYECTOS INDUSTRIALES</h5>
            <p style="background-color: #6a9e5e; width: 300px; height: 15px; margin-left: -23px;"><br></p>
            <div class="card">
            <img class="card-img-top" src="/assets/producto2.png" alt="Card image cap">
            <div class="card-img-overlay">
              <h1 class="card-text bg-dark bg-opacity-50" style="color: white; font-size: 20px; margin-top: 100px; margin-left: 120px; padding: 0px; margin-right: 0px;">3.200.000</h1>
          </div>
          </div>
        </div>
      </div>
    </div>
    <app-contacto></app-contacto>