<div class="container-full" style="background-image: url('./assets/fondodecapacidades.png'); background-size: cover;">
  <div class="container">
<h1 style="text-align: center; font-family: 'Michroma', sans-serif; color: white; font-size: 25px; padding-top: 20px;">NUESTRAS CAPACIDADES</h1>
<h2 style="font-family: 'Roboto', sans-serif; font-size: 23px; margin-left: 120px; color: white; padding-top: 30px;">Que van desde las habilidades para conseguir las mejores terminaciones en al carpinteria metalica hasta los equipos y maquinarias CNC de gran envergadura para poder satisfacer requerimientos de mayor escala de nuestros clientes.</h2>
<h1 style="font-family: 'Michroma', sans-serif; color: white; background-color: #355ca1; width: 900px; font-size: 25px; margin-left: -115px; padding-left: 230px; padding-top: 10px; padding-bottom: 10px; margin-top: 50px;">CAPACIDADES Y MAQUINARIA</h1>
<div class="row">
  <div class="col-lg-1"></div>
<div class="card col-lg-3" style="margin: 20px;">
    <div class="card-body">
      <img src="./assets/capacidades5.png" class="card-img-top" style="margin-top: -17px; height:200px; width: 331px; margin-left: -30px;">
      <h5 class="card-title" style="color: #355ca1; font-family: 'Michroma', sans-serif;">PATIO DE MAQUINAS</h5>
      <p class="card-text" style="font-family: 'Roboto', sans-serif; margin-top: 40px;">Patio que alberga las maquinas de plegado,<br>corte,soldados y mas</p>
      <p style="background-color: #355ca1; margin-top: 233px; margin-left: -50px;"><br></p>
    </div>
  </div>
  <div class="card col-lg-3" style="margin: 20px;">
    <div class="card-body">
      <img src="./assets/capacidades1.jpg" class="card-img-top" style="margin-top: -17px; height:200px; width: 331px; margin-left: -30px;">
      <h5 class="card-title" style="color: #355ca1; font-family: 'Michroma', sans-serif;">NUESTRO PERSONAL</h5>
      <p class="card-text" style="font-family: 'Roboto', sans-serif; margin-top: 40px;">Constituye nuestro mayor capital, la capacitacion especifica en sus diferentes especialidades, como asi mismo en areas de formacion general, constituye uno de<br>nuestros mayores orgullos</p>
    
      <p style="background-color: #6a9e5e; margin-top: 160px; margin-left: -50px;"><br></p></div>
  </div>
  <div class="card col-lg-3" style="margin: 20px;">
    <div class="card-body">
      <img src="./assets/capacidades2.png" class="card-img-top" style="margin-top: -17px; height:200px; width: 331px; margin-left: -30px;">
      <h5 class="card-title" style="color: #355ca1; font-family: 'Michroma', sans-serif;">GUILLOTINA SHEM</h5>
      <p class="card-text" style="font-family: 'Roboto', sans-serif; margin-top: 40px;">Son reconocidos por estar bien constituidos, ser precisos y rentables, satisfaciendo la demanda del mercado de gabricacion pesada</p>
      <p style="background-color: #6a9e5e; margin-top: 230px; margin-left: -50px;"><br></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
  <div class="card col-lg-3" style="margin: 20px;">
      <div class="card-body">
        <img src="./assets/capacidades7.png" class="card-img-top" style="margin-top: -17px; height:200px; width: 325px; margin-left: -30px;">
        <h5 class="card-title" style="color: #355ca1; font-family: 'Michroma', sans-serif;">ASTRIDA SERIE APH</h5>
        <p class="card-text" style="font-family: 'Roboto', sans-serif; margin-top: 40px;">Astrida Serie APH, ideal tanto para plegar piezas únicas como grandes series.</p>
        <p style="background-color: #355ca1; margin-top: 150px; margin-left: -50px;"><br></p>
      </div>
    </div>
    <div class="card col-lg-3" style="margin: 20px;">
      <div class="card-body">
        <img src="./assets/capacidades9.png" class="card-img-top" style="margin-top: -17px; height:200px; width: 325px; margin-left: -30px;">
        <h5 class="card-title" style="color: #355ca1; font-family: 'Michroma', sans-serif;">CPC EUROMAC</h5>
        <p class="card-text" style="font-family: 'Roboto', sans-serif; margin-top: 40px;">Una característica innovadora que permite<br>velocidad de punzonado para ajustarse a la<br>medida cualquier tipo de aplicación.</p>
      
        <p style="background-color: #6a9e5e; margin-top: 127px; margin-left: -50px;"><br></p></div>
    </div>
    <div class="card col-lg-3" style="margin: 20px;">
      <div class="card-body">
        <img src="./assets/capacidades4.png" class="card-img-top" style="margin-top: -17px; height:200px; width: 325px; margin-left: -30px;">
        <h5 class="card-title" style="color: #355ca1; font-family: 'Michroma', sans-serif;">GUILLOTINA HACO</h5>
        <p class="card-text" style="font-family: 'Roboto', sans-serif; margin-top: 40px;">Son reconocidos por estar bien construidos, ser precisos y rentables, satisfaciendo la demanda del mercado de fabricación pesada y de alta precisión.</p>
        <p style="background-color: #6a9e5e; margin-top: 127px; margin-left: -50px;"><br></p>
      </div>
    </div>      
<div class="container" style="padding: 20px">
      <p style="background-color: #355ca1; margin: 20px; color: white; padding: 20px; font-family: 'Roboto', sans-serif;">
        -Corte plasma CNC alta definicion, hasta 25mm, mesa de recorte de 3.5x7 metros.<br>
        -Guillotina hidraulica hasta 5mm espesor, largo total 3000mm.<br>
        -Plegadora hidraulica control digital 120 toneladas, largo maximo 3000mm.<br>
        -cierra huincha.<br>
        -Trozadoras de perfiles.<br>
        -Dientes dtio taladros<br>
        -Soldadras Mig.<br>
        -Soldadora Tig (Miller).<br>
        -Soldadora por puntos.<br>
      </p>
    </div>
  </div>
    </div>