<div class="container-full" style="background-image: url('./assets/fondodecapacidades.png');">
  <div class="container">
<h1 style="text-align: center; font-family: 'Orbitron', sans-serif;">NUESTRAS CAPACIDADES</h1>
<h2 style="font-family: 'Roboto', sans-serif; font-size: 20px; margin-left: 100px;">Que van desde las habilidades para conseguir las mejores terminaciones en al carpinteria metalica<br>hasta los equipos y maquinarias CNC de gran envergadura para poder satisfacer requerimientos de mayor<br>escala de nuestros clientes.</h2>
<div class="row">
  <div class="col-lg-1"></div>
<div class="card col-lg-3" style="margin: 20px;">
    <div class="card-body">
      <img src="./assets/capacidades5.jpg" class="card-img-top">
      <h5 class="card-title" style="color: #355ca1; font-family: 'Orbitron', sans-serif;">PATIO DE MAQUINAS</h5>
      <p class="card-text" style="font-family: 'Roboto', sans-serif;">Patio que alberga las maquinas de plegado,<br>corte,soldados y mas</p>
      <p style="background-color: #355ca1; margin-top: 233px; margin-left: -50px;"><br></p>
    </div>
  </div>
  <div class="card col-lg-3" style="margin: 20px;">
    <div class="card-body">
      <img src="./assets/capacidades1.jpg" class="card-img-top">
      <h5 class="card-title" style="color: #355ca1; font-family: 'Orbitron', sans-serif;">NUESTRO PERSONAL</h5>
      <p class="card-text" style="font-family: 'Roboto', sans-serif;">Constituye nuestro mayor capital, la capacitacion especifica en sus diferentes<br>especialidades, como asi mismo en areas<br>de formacion general, constituye uno de<br>nuestros mayores orgullos</p>
    
      <p style="background-color: #6a9e5e; margin-top: 78px; margin-left: -50px;"><br></p></div>
  </div>
  <div class="card col-lg-3" style="margin: 20px;">
    <div class="card-body">
      <img src="./assets/capacidades2.jpg" class="card-img-top">
      <h5 class="card-title" style="color: #355ca1; font-family: 'Orbitron', sans-serif;">GUILLOTINA SHEM</h5>
      <p class="card-text" style="font-family: 'Roboto', sans-serif;">Son reconocidos por estar bien constituidos,<br>ser precisos y rentables, satisfaciendo la<br>demanda del mercado de gabricacion pesada</p>
      <p style="background-color: #6a9e5e; margin-top: 185px; margin-left: -50px;"><br></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
  <div class="card col-lg-3" style="margin: 20px;">
      <div class="card-body">
        <img src="./assets/capacidades7.jpg" class="card-img-top">
        <h5 class="card-title" style="color: #355ca1; font-family: 'Orbitron', sans-serif;">PATIO DE MAQUINAS</h5>
        <p class="card-text" style="font-family: 'Roboto', sans-serif;">Patio que alberga las maquinas de plegado,<br>corte,soldados y mas</p>
        <p style="background-color: #355ca1; margin-top: 150px; margin-left: -50px;"><br></p>
      </div>
    </div>
    <div class="card col-lg-3" style="margin: 20px;">
      <div class="card-body">
        <img src="./assets/capacidades9.jpg" class="card-img-top">
        <h5 class="card-title" style="color: #355ca1; font-family: 'Orbitron', sans-serif;">NUESTRO PERSONAL</h5>
        <p class="card-text" style="font-family: 'Roboto', sans-serif;">Constituye nuestro mayor capital, la capacitacion especifica en sus diferentes<br>especialidades, como asi mismo en areas<br>de formacion general, constituye uno de<br>nuestros mayores orgullos</p>
      
        <p style="background-color: #6a9e5e; margin-top: 30px; margin-left: -50px;"><br></p></div>
    </div>
    <div class="card col-lg-3" style="margin: 20px;">
      <div class="card-body">
        <img src="./assets/capacidades4.jpg" class="card-img-top">
        <h5 class="card-title" style="color: #355ca1; font-family: 'Orbitron', sans-serif;">GUILLOTINA SHEM</h5>
        <p class="card-text" style="font-family: 'Roboto', sans-serif;">Son reconocidos por estar bien constituidos,<br>ser precisos y rentables, satisfaciendo la<br>demanda del mercado de gabricacion pesada</p>
        <p style="background-color: #6a9e5e; margin-top: 103px; margin-left: -50px;"><br></p>
      </div>
    </div>      
<div class="container" style="padding: 20px">
      <p style="background-color: #355ca1; margin: 20px; color: white; padding: 20px; font-family: 'Roboto', sans-serif;">
        -Corte plasma CNC alta definicion, hasta 25mm, mesa de recorte de 3.5x7 metros.<br>
        -Guillotina hidraulica hasta 5mm espesor, largo total 3000mm.<br>
        -Plegadora hidraulica control digital 120 toneladas, largo maximo 3000mm.<br>
        -cierra huincha.<br>
        -Trozadoras de perfiles.<br>
        -Dientes dtio taladros<br>
        -Soldadras Mig.<br>
        -Soldadora Tig (Miller).<br>
        -Soldadora por puntos.<br>
      </p>
    </div>
  </div>
    </div>